* {box-sizing:border-box}

.banner_container {
  max-width: 1000px;
  position: relative;
  margin-top: 10px;
}

.banner {
  display: none;
}

.prev{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -34px;
  margin-left: -338px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 28px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -34px;
  margin-right: 18px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 28px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.genre {
  width: 100%;
  height: 70px;
  background-color: white;
}

.genre_container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.genre_btn {
  cursor: pointer;
  position: relative;
  width: 130%;
  outline: none;
  border: none;
  margin-top: 25px;
  font-size: 18%; 
  color: gray;
  background-color: white;
}

.dashboard_container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  margin-top: -20px;
  list-style-type: none;
  background-color: white;
}

.dashboard_btn {
  cursor: pointer;
  position: relative;
  width: 34%;
  height: 60px;
  outline: none;
  border: 2px solid white;
  margin-top: 20px;
  margin-left: -2%;
  font-size: 20%; 
  color: rgb(36, 35, 35);
  background-color: #eee;
}

.left_btn {
  border-radius: 10px 0 0 10px / 10px 0 0 10px ;
}

.right_btn {
  border-radius: 0 10px 10px 0 / 0 10px 10px 0 ;
}

.event_container {
  max-width: 1000px;
  position: relative;
  margin-top: -90px;
}

.weektop_container {
  position: relative;
  width: 100%;
  height: 600px;
  padding: 0;
  margin-top: -21px;
  background-color: white;
}

.weektop_title {
  position: absolute;
  width: 100%;
  height: 60px;
  padding: 0;
  margin-top: 0px;
}

.weektop_week {
  position: absolute;
  width: 100%;
  height: 60px;
  padding: 0;
  margin-top: 60px;
}

#weektop_top {
  position: absolute;
  width: 100%;
  height: 240px;
  padding: 0;
  margin-top: 120px;
}

#weektop_rank {
  position: absolute;
  width: 100%;
  height: 240px;
  padding: 0;
  margin-top: 360px;
}

.weektop_text {
  position: absolute;
  width: 50%;
  height: 60px;
  padding-left: 40px;
  padding-top:18px;
  font-size: 22px;
  text-align: left;
  color: rgb(54, 51, 51)
}

.weektop_more {
  position: absolute;
  height: 60px;
  width: 15%;
  padding-right: 20px;
  margin-left:85%;
  font-size: 18px;
  text-align: right;
  display:table-cell;
  vertical-align:middle;
  color: rgb(121, 115, 115);
  background-color: white;
  border: 0px;
}

.weektop_btn {
  cursor: pointer;
  position: absolute;
  width: 11%;
  height: 60px;
  clear:both;
  border: 0px;
  background-color: white;
  font-size: 20%;
  color:rgb(121, 115, 115);
  border-radius: 10px;
}

.mon {
  margin-left: -340px;
}
.tue {
  margin-left: -255px;
}
.wed {
  margin-left: -170px;
}
.thu {
  margin-left: -85px;
}
.fri {
  margin-left: -5px;
}
.sat {
  margin-left: 80px;
}
.sun {
  margin-left: 165px;
}
.fin {
  margin-left: 250px;
}

.weektop_list {
  float: left;
  height: 220px;
  width: 17%;
  margin-left: 2.5%;
  list-style-type: none;
  cursor: pointer;
}

.weektop_img {
  margin-top: 20px;
  height: 150px;
  width: 100%;
  border-radius: 10px;
}

.webtoon_title {
  width: 100%;
  height: 20px;
  margin-top: -23px;
  font-size: 17px;
  text-align: left;
  color:rgb(54, 51, 51)
}

.numofwatch {
  width: 100%;
  height: 20px;
  margin-top: 5px;
  color:rgb(121, 115, 115);
  font-size: 15px;
  text-align: left;
}