body {
  margin: 0;
  width: 100%;
}

category {
  position:fixed;
  padding-top:60px;
  height: 80px;
}

header {
  position:fixed;
  padding-top: 15px;
  height: 60px;
  font-size: 20px;
}

.head {
  position: fixed;
  width: 100%;
  height: 150px;
  background-color: white;
  z-index: 2;
}

.kakaopage_title {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  font-size: 40px;
}

.search_window {
  position: fixed;
  padding-top: 5px;
  left: 75%;
  height:30px;
}

#search {
  height:30px;
  border: 2px solid gray;
  border-radius: 20px;
}

.cache_btn {
  position: fixed;
  padding-top: 10px;
  left: 85%;
}

.distinct {
  position: fixed;
  padding-top: 10px;
  left: 90%;
}

.login_btn {
  position: fixed;
  padding-top: 10px;
  left: 91%;
}

.category_container {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 40%;
  margin-top: 10px;
  left: 50%;
  transform: translate(-50%);
  padding: 0;
  list-style-type: none;
  font-size: 25px;
}

.category_item a {
  text-align: center;
  text-decoration: none;
  color: white;
}

.category_btn {
  cursor: pointer;
  background-color: white;
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  font-size: 25px;
  margin-top: 25px;
  border-radius: 10px;
  box-shadow: 0;
}

.category_clicked {
  cursor: pointer;
  background-color: white;
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  font-size: 25px;
  margin-top: 25px;
  border-radius: 10px;
  box-shadow: 0 80px 0 0 #F7E600 inset;
}

.category_btn:hover {
  box-shadow: 0 80px 0 0 #F7E600 inset
}

.background {
  background-color:#eee;
  width: 100%;
  height: 4000px;
  z-index: 1;
}

#contents {
  position: relative;
  width: 40%;
  left: 50%;
  text-align: center;
  margin-left: -20%;
  padding-top: 60px;
  font-size: 100px;
}

#dummy_page {
  position: absolute;
  padding-top: 300px;
  margin-left: 800px;
  height: 200px;
  font-size: 50px;
  text-align: center;
}